.s1 {
    margin: 0 auto 1rem;
}
.s1-bot {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 5%;

    img {
        width: 20vw;
        margin-right: 15%;
    }
}